body{
    overflow: scroll;
}
.butt{
    position: fixed;
    left : 50;
    bottom :0;
    height : 100px;
    background-color: #87CEEB;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    transition: 300ms;
    border-width: 100px;
    border-style:solid;
    border-color:black;

}